@media (min-width: 360px) {
  .masonry {
      column-count: 1; /* Número de columnas */
      column-gap: 16px
  }
}

@media (min-width: 540px) {
    .masonry {
        column-count: 2; /* Número de columnas */
        column-gap: 16px
    }
}

@media (min-width: 720px) {
    .masonry {
        column-count: 3; /* Número de columnas */
        column-gap: 16px
    }
}

@media (min-width: 960px) { /* Número de columnas */
    .masonry {
        column-count: 4;
        column-gap: 16px
    }
}

@media (min-width: 1140px) {
    .masonry {
        column-count: 6; /* Número de columnas */
        column-gap: 16px
    }
}

@media (max-width: 1140px) {
    .carru {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1140){
  .modal-content {
    width: 100vh;
  }
}

.logo{
  border-radius: 3vh;
}

.masonry-item {
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
}

.hover-button {
  position: absolute;
  right: -4.5vh;
  top: 3vh;
  transform: translate(-50%, -50%);
  background-color: #ff0000; /* color del botón */
  color: white;
  padding: 1vh 2vh;
  border-radius: 2vh;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.mega-cont{
  width: 100%;
  max-width: 220vh;
  height: auto;
  border-radius: 1vh;
  outline: 5px solid #bbb;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

header img{
  margin-left: 2vh;
  margin-right: 2vh;
  width: 8vh;
  height: 8vh;
  outline: 0.2vh solid white;
}

header h1{
  color: white;
  font-family: Georgia, serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #bbb;
  height: 10vh;
}

.carousel-item img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
  border-radius: 1vh;
}

.carru{
  height: 70vh;
  padding: 0vh 2vh 0vh 2vh;
  margin: 2vh 0vh 2vh 0vh;
  width: 100%;
}

.container-fluid{
  margin-top: 2vh;
}

.hover-button:hover {
  filter: brightness(0.5);
}

.img-fluid {
    width: 100%;
    height: auto;
    display: block;
}

.masonry-item img {
    width: 600px;
    height: auto;
    border-radius: 2vh;
}

.masonry-item img:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.masonry-item:hover .hover-button {
  opacity: 1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 5vh; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal.hide {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: 95%;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


